* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
select,
textarea {
  font-family: 'Poppins', sans-serif;
}

body {
  background: #E5E5E5;
}

body::before {
  content: '';
  width: 100%;
  height: 368px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: #121214;
}

#page {
  width: 736px;
  margin: auto;
}

header {
  margin-top: 86px;
  width: 320px;
}

header h1 {
  font-family: 'Archivo', sans-serif;
  color: #fff;  
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  margin-bottom: 24px;
}

header p {
  color: #42D3FF;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 42px;
}

form {
  background: #FAFAFC;
  border-radius: 8px 8px 0 0;
  padding: 64px;
}

fieldset {
  border: none;
}

fieldset legend {
  font-family: 'Archivo', sans-serif;
  color: #32264D;
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;

  width: 100%;
  border-bottom: 1px solid #E6E6F0;
  padding-bottom: 16px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.input-wrapper label {
  color: #4E4958;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 8px;
}

.input-wrapper label span {
  color: #a9a7af;
  font-size: 12px;
  line-height: 20px;
  margin-left: 12px;
}

.input-wrapper label span:hover {
  color: #6c6a71;
}

.input-wrapper input {
  background: #FAFAFC;
  color: #6c6a71;
  font-size: 16px;
  line-height: 26px;
  
  border-radius: 8px;
  border: 1px solid #E6E6F0;
  height: 56px;
  padding: 0 24px;
}

.input-wrapper textarea {
  padding-top: 12px;
  height: 168px;
  resize: none;
}